* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(18, 23, 42);
  color: #fff;
}

#header {
  width: 100%;
  max-height: 100vh;
  background-image: url(images/background.jpg);
  background-size: cover;
  background-position: center;
}

.container {
  padding: 60px 3%;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.logo {
  max-width: 170px;
  border-radius: 50%;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 26px;
  position: relative;
}

nav ul li a::after {
  content: "";
  width: 0;
  height: 3px;
  background-color: blueviolet;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}

nav ul li a:hover::after {
  width: 100%;
}

.header-text {
  margin-top: 25%;
  margin-left: 30px;
  font-size: 22px;
}

.header-text span {
  color: blueviolet;
}
#audio {
  display: none;
}
/*----ABOUT----*/
#about {
  padding: 80px 0;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about-col-1 {
  flex-basis: 45%;
}
.about-col-1 img {
  max-width: 100%;

  border-radius: 35px;
}
.about-col-2 {
  flex-basis: 50%;
}

.subtitle {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 15px;
  color: #fff;
}

.about-col-2 p {
  font-size: 18px;
}

.tab-titles {
  display: flex;
  margin: 20px 0 40px;
}

.tab-links {
  margin-right: 50px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}
.tab-links::after {
  content: "";
  width: 0;
  height: 3px;
  background: #ff004f;
  position: absolute;
  left: 0;
  bottom: 1px;
  transition: 0.5s;
}

.tab-links.active-link::after {
  width: 50%;
}

.tab-contents ul li {
  list-style: none;
  margin: 20px 0;
}
.tab-contents ul li span {
  color: #e34879;
  margin-bottom: 5px;
  display: inline-block;
  font-size: 16px;
}

.tab-contents {
  display: none;
}

.tab-contents.active-tab {
  display: block;
}

/*--PROJECTS--*/
#projects {
  padding: 20px 0;
}
#projects .container .sub-title {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 15px;
  color: #fff;
}
.work-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}
.work {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.work img {
  max-width: 100%;
  border-radius: 20px;
  display: block;
  transition: transform 0.5s;
}

.layer {
  width: 100%;
  height: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.6), #ff004f);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  text-align: center;
  font-size: 20px;
  transition: height 0.5s;
}
.layer p {
  margin: auto;
  text-align: center;
}

.layer h2 {
  font-weight: 500;
  margin-top: 55px;
  margin-bottom: 10px;
  font-size: 25px;
}

.layer a {
  margin-top: 5px;
  color: #ff004f;
  text-decoration: none;
  font-size: 28px;
  line-height: 36px;
  background: #fff;
  max-width: 40px;
  max-height: 40px;
  border-radius: 50%;
  text-align: center;
  margin-bottom: 40px;
}

.work:hover img {
  transform: scale(1.1);
}
.work:hover .layer {
  height: 100%;
}

.btn {
  display: block;
  margin: 50px auto;
  width: fit-content;
  border: 1px solid #ff004f;
  padding: 14px 50px;
  border-radius: 6px;
  text-decoration: none;
  color: white;
  transition: 0.5s;
}
.btn:hover {
  background: #ff004f;
}
/*----CONTACT----*/
.contact-left {
  flex-basis: 35%;
}
.contact-right {
  flex-basis: 60%;
}
.contact-left p {
  margin-top: 30px;
}
.contact-left p i {
  color: #ff004f;
  margin-right: 15px;
  font-size: 25px;
}
.social-icons {
  margin-top: 30px;
}
.social-icons a {
  text-decoration: none;
  font-size: 30px;
  margin-right: 15px;
  color: #ababab;
  display: inline-block;
  transition: transform 0.5s;
}
.social-icons a:hover {
  color: #ff004f;
  transform: translateY(-5px);
}
.btn.btn2 {
  display: inline-block;
  background: #ff004f;
}
.contact-right form {
  width: 100%;
}
form input,
form textarea {
  width: 100%;
  border: 0;
  outline: none;
  background: #262626;
  padding: 15px;
  margin: 15px 0;
  color: #fff;
  font-size: 18px;
  border-radius: 5px;
}
form .btn2 {
  padding: 14px 60px;
  font-size: 18px;
  margin-top: 20px;
  margin-left: 30px;
  cursor: pointer;
}
.copyright {
  width: 100%;
  text-align: center;
  padding: 25px 0;
  background: #262626;
  font-weight: 500;
  margin-top: 20px;
}
/*----RESPONSIVE WEBSITE----*/
@media only screen and (max-width: 600px) {
  #header {
    background-image: url(images/mobilebck.jpg);
    background-size: 100% 100%;
  }
  .logo {
    max-width: 100px;
    max-height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
  }
  nav ul li a {
    font-size: 19px;
    margin: auto;
  }
  .contact-right,
  .contact-left {
    flex-basis: 100%;
    margin: auto;
    text-align: center;
  }
  .contact-right {
    margin-right: 30px;
  }

  .about-col-1 {
    display: none;
  }
  .about-col-2 {
    margin: auto;
  }
  .subtitle {
    margin: auto;
    text-align: center;
    margin-bottom: 15px;
  }
  .sub-title {
    margin: auto;
    text-align: center;
  }
  .layer {
    font-size: 14px;
  }
  .contact-right.btn.btn2 {
    margin: auto;
  }
}
