/* You can add global styles to this file, and also import other style files */
* {
  background-color: #b7c9ec;
  margin: auto;
  text-align: center;
}
.btn {
  font-size: 30px;
  margin-top: 50px;
  margin-bottom: 35px;
}
